---
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelectSingle.astro";
import { Image } from "astro:assets";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<header class="l-header ">
  <div class=" flex items-center justify-center mt-20 gap-20 flex-wrap">
    <h1 class="text-3xl font-bold">
      <a href={getRelativeLocaleUrl(locale, "/")}>
        <!-- <Image src={AstroImage} alt="Astro" /> -->
        André Brandão
      </a>
    </h1>

    <LocaleSelect />
  </div>
</header>

<style>
  /* * {
    flex-wrap: wrap;
    justify-content: center;
  } */

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  /* h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
    @media (width < 480px) {
      font-size: 28px;
    }

    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 6em;
      position: relative;
      inset: 0.1em;
    }
  } */
</style>
