---
import Layout from "@/layouts/Base.astro";
import TimeLineElement from "@/components/cv/TimeLine.astro";
import { LOCALES, useTranslations, type Lang } from "@/i18n";

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const t = useTranslations(Astro.currentLocale as Lang);
---

<Layout title={t({ en: "Resume", pt: "Currículo" })}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t({ en: "About Me", pt: "Sobre Mim" })}
    </div>
  </div>

  <div class="mb-10 text-justify">
    {
      t({
        en: `My name is André, I am a Computer Science student with a background in Software Engineering. I am currently in my 7th semester, having developed a solid foundation in fundamental programming concepts along with both theoretical and practical knowledge. I am currently working at a company where I am a co-founder with a professor I had in college, serving as the lead developer on various projects for multiple clients.`,
        pt: `Meu nome é André, sou estudante de Ciência da Computação com formação iniciada em Engenharia de Software. Atualmente estou cursando o 7º período, tendo adquirido até então uma base sólida em conceitos fundamentais de programação, além de conhecimentos teóricos e práticos. Atualmente estou trabalhando em uma empresa onde sou co-fundador junto de um professor que tive na faculdade, atuando como o principal desenvolvedor em diversos projetos, para múltiplos clientes.`,
      })
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t({ en: "Experience", pt: "Experiência" })}
    </div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title={t({ en: "Full Stack Developer", pt: "Desenvolvedor Full Stack" })}
      subtitle={t({
        en: "From 06/2024 to current at Crossgeo, Belo Horizonte, Brazil",
        pt: "De 06/2024 até o momento na Crossgeo, Belo Horizonte, Brasil",
      })}
    >
      {
        t({
          en: `Crossgeo is a software development company where I am a co-founder along with a professor from college. I act as the lead developer on various projects for multiple clients, using technologies like TypeScript, Svelte, PostgreSQL, Go, and Docker.`,
          pt: `A Crossgeo é uma empresa de desenvolvimento de software, onde sou co-fundador junto de um professor que tive na faculdade. Atuo como o principal desenvolvedor em diversos projetos, para múltiplos clientes, utilizando tecnologias como TypeScript, Svelte, PostgreSQL, Go e Docker.`,
        })
      }
    </TimeLineElement>
    <TimeLineElement
      title={t({ en: "Full Stack Developer", pt: "Desenvolvedor Full Stack" })}
      subtitle={t({
        en: "From 03/2024 to current at Crossvirus, Belo Horizonte, Brazil",
        pt: "De 03/2024 até o momento na Crossvirus, Belo Horizonte, Brasil",
      })}
    >
      {
        t({
          en: `Crossvirus was a startup created with the support of PUC-MG, aimed at developing solutions to combat epidemiological diseases like COVID-19. I was responsible for developing both the front-end and back-end of the application, using Astro, Svelte, and PostgreSQL. I also coordinated a team of two interns provided by PUC-MG.`,
          pt: `A Crossvirus foi uma startup criada com o apoio da PUC-MG, com o objetivo de desenvolver soluções para o combate a doenças epidemiológicas como a COVID-19. Fui responsável por desenvolver o front-end e o back-end da aplicação, utilizando Astro, Svelte e PostgreSQL. Também coordenei uma equipe de dois estagiários disponibilizados pela PUC-MG.`,
        })
      }
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t({ en: "Education", pt: "Educação" })}
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t({ en: "Computer Science", pt: "Ciência da Computação" })}
      subtitle={t({
        en: "2022/2 to 2025 (graduation) at PUC-MG, Belo Horizonte, Brazil",
        pt: "2022/2 a 2025 (graduação) na PUC-MG, Belo Horizonte, Brasil",
      })}
    />
    <TimeLineElement
      title={t({ en: "Software Engineering", pt: "Engenharia de Software" })}
      subtitle={t({
        en: "2021/1 to 2022/1 (transfer to CS) at PUC-MG, Belo Horizonte, Brazil",
        pt: "2021/1 a 2022/1 (transferência para CC) na PUC-MG, Belo Horizonte, Brasil",
      })}
    />
    <TimeLineElement
      title={t({ en: "High School", pt: "Ensino Médio" })}
      subtitle={t({
        en: "2018 to 2020 at Colégio Santo Agostinho, Nova Lima, Brazil",
        pt: "2018 a 2020 no Colégio Santo Agostinho, Nova Lima, Brasil",
      })}
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t({ en: "Certifications", pt: "Certificações" })}
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="#"
        target="_blank"
      >
        {
          t({
            en: `Cloud Services Practices using Swift with an emphasis on Cognitive Services (100h) 04/2023`,
            pt: `Práticas de Cloud Services usando Swift com ênfase em Serviços Cognitivos (100h) 04/2023`,
          })
        }
      </a>
    </li>
    <li>
      <a
        href="#"
        target="_blank"
      >
        {
          t({
            en: `Concepts and Fundamentals: Algorithms, OOP with Swift, JavaScript, and RESTful APIs (60h) 02/2023`,
            pt: `Conceitos e Fundamentos: Algoritmos, POO com Swift, JavaScript e RESTful APIs (60h) 02/2023`,
          })
        }
      </a>
    </li>
    <p>
      {
        t({
          en: `** I have also completed various online courses and activities that do not have certification but have helped me gain knowledge in several areas of computing.`,
          pt: `** Também realizei diversos cursos e atividades online que não possuem certificação, mas que me ajudaram a adquirir conhecimento em diversas áreas da computação.`,
        })
      }
    </p>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t({ en: "Skills", pt: "Habilidades" })}
    </div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>SQL</li>
    <li>Java</li>
    <li>C</li>
    <li>Python</li>
    <li>Swift</li>
    <li>Go</li>
    <li>HTML</li>
    <li>TypeScript</li>
    <li>Nix</li>
    <li>Linux</li>
  </ul>
</Layout>
